/* style.css */

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
header{
    font-weight: 700;
    text-align: center; 
    padding-top: 2%;
    width: 100%;
}

h1{
    font-size: 4em;
    font-weight: 700;
    text-align: center;
    
}

h2{
    font-size: 2em;
    font-weight: 500;
    text-align: center; 
}

i{
    color: rgba(209, 81, 21, 0.973);
    font-weight: bold;

}

a{
    text-decoration: none;
    font-weight: bold;
}
.a{
    text-decoration: none;
    color: black;
    background-color: rgb(255, 165, 0);
    border-radius: 80%;
    padding: 10px;
    font-weight: bold;

}

input{
        background-color: rgb(255, 165, 0);
        border: none;
        color:black;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
}


.section1{
    font-size: 1.3em;
    font-weight: 200;
    text-align: left;
    padding: .5% .5% 2% 5%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(57, 79, 128);
}
  
li {
    float: left;
}
  
li a {
    display: block;
    color: white;
    font-size: 1.7em;
    text-align: center;
    padding: 14px 16px 14px 10px;
    text-decoration: none;
}
    
li a:hover {
    background-color: rgb(91, 127, 206);
}

.column {
    
    float: left;
    width: 30%;
    padding: 2px;
}
   
.row::after {
    text-align: center;
    padding-right: 2%; 
    content: "";
    clear: both;
    display: table;
}
#clear{
    clear: all;
}

footer{
    font-weight: 500;
    text-align: center; 
    padding: 1% 0%;
    width: 100%;
}


